$primary-color : #ffd7d7;
$mainFont-color : #fd2d01;
$background-color : #fcf2f1;
$box-background-color : #2d3f5e;
$red-button-color : #E31616;
$light-padding : 10px;
$light-margin : 10px;
$valid-color-button : #0E8205;
$center-with-margin : 10px auto 10px auto;